<html xmlns="http://www.w3.org/1999/xhtml" ng-app="ThePersonalProject">
<head>
    <title>ThePersonalProject</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <base href="/" />
  <link href="~/css/site.css" rel="stylesheet" />
  <!-- Library Files -->
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/angular/angular.js"></script>
  <script src="~/lib/angular-resource/angular-resource.js"></script>
  <script src="~/lib/angular-animate/angular-animate.js"></script>
  <script src="~/lib/angular-touch/angular-touch.js"></script>
  <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="~/lib/angular-parallax/scripts/angular-parallax.js"></script>
  <!-- App Files-->
  <script src="~/ngapp/app.js"></script>
  <script src="~/ngapp/controllers/controllers.js"></script>
  <script src="~/ngapp/services/services.js"></script>
  <script src="~/lib/ngmap/build/scripts/ng-map.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlH745t3zIC5cdIITaldON5sVECMV9fbE"></script>
</head>
<body >

  <div class="flex-container-index">
    <ui-view></ui-view>
  </div>


</body>
</html>
