
<h1>Home</h1>

<div class="flex-container"> 
  
  <div class="flex-item">
    <ng-map center="Houston" zoom="9" mayTypeId="TERRAIN" id="map" on-click="controller.addMarkerCallback()">
      <marker ng-repeat="(idx, park) in controller.skatePark" position="{{park.location}}" on-click="controller.getInfoCallback()" id="marker-{{idx}}"></marker>

      <marker ng-repeat="pos in controller.positions" position="{{pos.lat}}, {{pos.lng}}" animation="Animation.BOUNCE" draggable="true"></marker>
    </ng-map>
  </div>

  <div class="flex-item">
    <button class="btn btn-primary" ng-click="controller.saveMarker()">Save</button>
    <button class="btn btn-primary" ng-click="controller.deleteMarker()">Delete</button>
    <a ui-sref="comments({skateParkId: controller.message.id})"><span>{{controller.message.name}} </span></a>
    </div>
  <div class="flex-item">
    <input type="text" placeholder="Name your spot!" ng-model="controller.nameMarker"/>
  </div>

</div>